# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3

# Entornos Virtuales
venv/
env/

# Archivos subidos por los usuarios (Imágenes, PDFs)
media/

# Node.js (Tu bot de WhatsApp)
whatsapp_bot/node_modules/
whatsapp_bot/.wwebjs_auth/

# Variables de entorno o configuraciones locales
.env

credenciales_google.json
alumnos.xlsx
migrar_datos.py
importar_notas.py
importar_masivo_aula.py
importar_asistencias.py
migrar_actitudinales.py
NOTAS_EJEMPLO.xlsx
NOTAS_AULA_COMPLETA0.xlsx
NOTAS_AULA_COMPLETA1.xlsx
NOTAS_AULA_COMPLETA2.xlsx
NOTAS_AULA_COMPLETA3.xlsx
NOTAS_ACTITUDINALES.xlsx
ASISTENCIAS.xlsx