{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div
                        class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex justify-content-between align-items-center">
                        <h6 class="text-white text-capitalize ps-3 mb-0">Directorio de Estudiantes Matriculados</h6>
                    </div>
                </div>

                <div class="card-body px-0 pb-2">
                    <div class="d-flex justify-content-start px-4 mt-3 mb-3">
                        <a href="{% url 'academico:matricula_masiva' %}" class="btn btn-sm bg-gradient-info mb-0">
                            <i class="material-symbols-rounded text-sm">person_add</i> Ir a Matricular Alumnos
                        </a>
                    </div>

                    <div class="table-responsive p-0 px-4">
                        <table class="table align-items-center mb-0" id="tabla-lista-matriculas">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Estudiante</th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        DNI</th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Aula Asignada</th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Periodo</th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for matricula in matriculas %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-3 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ matricula.estudiante.apellidos }},
                                                    {{matricula.estudiante.nombres }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <p class="text-xs text-secondary mb-0">{{ matricula.estudiante.dni }}</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-success">
                                            {{ matricula.aula.grado }} "{{ matricula.aula.seccion }}" -
                                            {{matricula.aula.nivel }}
                                        </span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <p class="text-xs font-weight-bold text-secondary mb-0">
                                            {{matricula.periodo }}</p>
                                    </td>
                                    <td class="align-middle text-center">
                                        <button
                                            onclick="confirmarQuitarMatricula('{{ matricula.pk }}', '{{ matricula.estudiante.apellidos }}, {{ matricula.estudiante.nombres }}')"
                                            class="btn btn-icon-only bg-gradient-danger rounded-circle mb-0 d-inline-flex align-items-center justify-content-center"
                                            style="width: 30px; height: 30px;" data-bs-toggle="tooltip"
                                            title="Quitar del aula">
                                            <i class="material-symbols-rounded text-white"
                                                style="font-size: 16px;">person_remove</i>
                                        </button>
                                        <a href="{% url 'academico:reporte_progresivo' matricula.id %}" target="_blank" 
                                            class="btn btn-icon-only bg-gradient-warning rounded-circle mb-0 d-inline-flex align-items-center justify-content-center"
                                            data-bs-toggle="tooltip" data-bs-title="Generar Informe Progresivo"
                                            style="width: 35px; height: 35px; padding: 0;">
                                            <i class="material-symbols-rounded text-white" style="font-size: 18px;">summarize</i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/matriculas.js' %}"></script>
{% endblock scripts %}